name: Run Python Script Every Night

on:
  schedule:
    - cron: '25 20 * * *'  # ריצה כל יום ב-23:25 לפי שעון ישראל (20:25 UTC)
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run generate_files.py
        run: python generate_files.py
